/* .Person {
  border: 2px solid #e3e3e3;
  border-radius: 1.5vw;
  box-shadow: 0 3px 5px #ffc600;
  font-family: "Fira Code";
  margin: 2vh auto;
  padding: 1rem;
  max-width: 60vw;
} */

input {
  background-color: #e3e3e3;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 3px #ffc600;
  color: #3e3e3e;
  font-family: "Fira Code";
  font-size: 2vw;
  max-width: 90%;
  min-width: 30vw;
  padding: 0.8vw 0;
  text-align: center;
}
